<a href="https://colab.research.google.com/github/RonBartov/Data_Processing/blob/main/factory_data_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Factory Data Processing**

# **General Background and Goals**
We have a table called 'factory_test.csv' that contains test data for 51 devices from the population of devices tested in the factory. We are defining the test data as the “**sample group**”.

In addition to the sample group we have a table called 'new_devices.csv' that contains data for 3 additonal devices. We are defining this data as the “**new sample group**”.

### **Main Goal**
Understand the "sample group data" and later to explore and understand the relation of "new sample group" to the "sample group" in terms of probability.

### **Side Goal**
Suggest and implement a method for testng new devices based on our knowledge
of the "sample group" and specify which devices (sample group and new devices) fail the test your tests and why.

# **Data Description**
Both "sample group" and "new sample group" datasets contains the following information:

${\circ}$ 5 **dependent** variables (features) Y1 - Y5.
<br>
${\circ}$ 4 **independent** variables X2 - X5.
<br>
${\circ}$ for i = 2,3,4,5 the feature ${Y_i}$ corresponds to ${X_i}$.
<br>
${\circ}$ The feature ${Y_1}$ has no corresponding variable.

###**Allowed Libraries**
1) Numpy
<br>
2) Pandas
<br>
3) Matplotlib

# **Part by Part**
We will divide this assignment into 5 different sections, each will be focucing on a different task as follows:

${\circ}$ **Section 1-** Data Loading and Description
<br>
${\circ}$ **Section 2-** Data Visualization and Explanaton
<br>
${\circ}$ **Section 3-** Data Preprocessing
<br>
${\circ}$ **Section 4-** Data Exploration
<br>
${\circ}$ **Section 5-** Suggest new testing method
<br>

###**Using 'Notes'**
In orded to give some clear explenations regarding specific actions or decision we make, we will add a text box with a 'Note' title everytime we would like to explain something.

# **Functions that will be used throughout the assignment**

# **Import Libraries**

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from google.colab import drive

# **Section 1- Data Loading and Description**
In this section we will load the data of sample group from 'factory_test.csv' and will provide a descrip􀆟on of its contents.

In [3]:
 # mount google drive into colab
 drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [7]:
# Loading the sample group data
csv_sample_group_path = "/content/gdrive/MyDrive/Pulsenmore/factory_test_data.csv"
sample_group = pd.read_csv(csv_sample_group_path)

In [8]:
sample_group.head(20)

      Y1  X2     Y2  X3     Y3  X4     Y4  X5    Y5
0   1491  18   16.8  14  13.33  12  11.12   9  8.33
1   1491  []     []  []     []  []     []  []    []
2   2004  18  17.94  14  13.99  12  11.72   9  8.65
3   1493  []     []  []     []  []     []  []    []
4   1497  18     18  14  13.59  12  12.91   9  7.82
5   1498  18   7.87  14  13.52  12  11.51   9  8.29
6   1492  18  20.23  14  13.41  12   9.73   9  8.58
7   1496  []     []  []     []  []     []  []    []
8   1493  18  22.24  14  13.27  12  11.21   9  8.24
9   1493  []     []  []     []  []     []  []    []
10  1496  18  24.73  14  13.29  12  12.67   9  8.22
11  1501  18  22.54  14  13.38  12  14.56   9  8.34
12  1487  18  19.73  14   13.3  12  11.34   9  8.36
13  1497  18  19.76  14  13.42  12   11.5   9  8.26
14  1498  18  15.91  14  13.41  12   10.6   9  8.38
15  1498  18  16.65  14  13.44  12  11.08   9  8.29
16  1493  18  22.51  14  13.47  12  11.15   9  7.81
17  1496  18  25.26  14  13.29  12  14.18   9  7.99
18  1497  18  12.63  14  13.53  12  11.32   9  8.29
19  1491  18  14.47  14  13.47  12  12.75   9   8.2

In [16]:
count = (sample_group['X2'] != "[]").sum()
count

47